aiohttp==3.6.2
alpha-vantage==2.2.0
async-timeout==3.0.1
attrs==20.2.0
bfx-hf-indicators==1.1.0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
dateutils==0.6.11
idna==2.10
iniconfig==1.0.1
kiwisolver==1.2.0
Library==0.0.0
matplotlib==3.3.2
more-itertools==8.5.0
multidict==4.7.6
nsetools==1.0.11
numpy==1.19.2
packaging==20.4
pandas==1.1.2
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pyalgotrading==2020.8.7
pyparsing==2.4.7
pytest==6.0.2
pytest-asyncio==0.10.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
toml==0.10.1
urllib3==1.25.10
yarl==1.5.1
