{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="login-left col-lg-6">
            <div class="login-left-wrapper">
                <img src="{% static 'images/analysis.svg' %}" alt="">
                <h2>Stock Analysis and Prediction System</h2>
            </div>
        </div>
        <div class="login-right col-lg-6">
            <div class="login-right-wrapper">
                <form method="POST">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                <small>{{ message }}</small>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group m-0">
                        <label for="username" class="bmd-label-floating">Username</label>
                        <input type="text" class="form-control m-0" id="username" name="username" required>
                    </div>
                    <div class="form-group pt-4">
                        <label for="password" class="bmd-label-floating">Password</label>
                        <input type="password" class="form-control m-0" id="password" name="password" required>
                    </div>
                    <center>
                        <h6>By login, you acccept these <a href="#">Terms and Conditions.</a> </h6>
                        <button type="submit" class="btn btn-raised btn-primary shadow-sm">LOG IN</button> <br>
                        <a href="#">Forgot Password?</a>
                        <hr class="hr-text" data-content="OR">
                        <a href="{% url 'register' %}" class="btn btn-outline-success">CREATE NEW ACCOUNT</a> <br>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}